html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 2rem;
  background-color: whitesmoke;
}

a.nav-link {
  margin: 0.5rem;
}

header {
    margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: #9370DB	;
  padding: 14px;
}

.grid-container > div {
  background-color: #F5F5F5	;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
}

.footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  justify-content: center;
}

.form-container {
    max-width: 500px;
    margin: auto;;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.previous {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    display: flex;
    justify-content: center;
}

.form-container button[type="submit"]:hover {
    background-color: #45a049;
}

.form-container br {
    display: none;
}

